.root {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
  padding: 4px 12px;
  box-sizing: border-box;
}

.range {
  font-size: var(--font-base);
  color: var(--neutral-300);
  white-space: nowrap;
}
